body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

#game-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 3cm);
  grid-template-rows: repeat(6, 3cm);
  gap: 1px;
  background-color: #000;
}

.square {
  width: 3cm;
  height: 3cm;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.light {
  background-color: #f0f0f0;
}

.dark {
  background-color: #a9a9a9;
}

.seed {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
}

/* .maize { background-color: yellow; } */
/* .lentil { background-color: brown; } */
/* .drypea { background-color: pink; } */
/* .greenpea { background-color: green; } */
/* .chickpea { background-color: orange; } */
/* .bean { background-color: black; } */

.maize {  background-color: rgb(255, 182, 177); }/*  Crías Hembras */
.lentil {  background-color: rgb(128, 255, 190); } /*  Crías Machos */
.drypea {  background-color: rgb(205, 53, 23); }/*  Adultos Hembras*/
.greenpea {  background-color: rgb(6, 159, 13); }/*  Adultos Machos */
.chickpea {  background-color: rgb(55, 4, 0); /*  Viejas Hembras */}
.bean {  background-color: rgb(5, 5, 25); /*  Viejos Machos */
}

/* ######## */






#controls {
  margin-top: 20px;
}

#stats {
  margin-top: 20px;
  text-align: left;
  display: inline-block;
}

.color-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}

/* ######## */

#controls {
  margin: 20px 0;
}

#controls label {
  /* font-weight: bold; */
  margin-right: 10px;
}

#controls input {
  margin-bottom: 10px;
  width: 60px;
}

/* #generationDisplay { */
/*   margin-top: 10px; */
/*   font-size: 18px; */
/*   /\* font-weight: bold; *\/ */
/*   color: #333; */
/* } */



#gameRules {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 20px auto;
    text-align: left;
}

#gameRules h2 {
  text-align: center;
  color: #333;
}

#gameRules ol {
  padding-left: 20px;
}

#gameRules ul {
  list-style-type: square;
  margin-left: 20px;
}

#gameRules strong {
  color: #555;
}

#gameRules span {
  font-weight: bold;
  color: #007bff;
}
